1.Print number from 1 to 5 using a while loop.

In [7]:
a = 1
while a<=5:
    print(a)
    a += 1

1
2
3
4
5

2.Calculate the sum of numbers from 1 to 10 using a while loop.

In [21]:
a = 1
sum = 0
while a <= 10:
    sum = sum + a
    a += 1
print("Answer is:", sum)

Answer is: 55

3.Calculate the factorial of a number using a for loop.

In [53]:
n = int(input("Enter any number: "))
f = 1
for i in range(n,0, -1):
    f *= i
    print("Factorial is", f)

Enter any number:  5

Factorial is 5
Factorial is 20
Factorial is 60
Factorial is 120
Factorial is 120

4.Count the number of vowels in a string using a for loop.

In [19]:
a = input("Enter a string:")
a_lower = a.lower()
vowels = "aeiou"
count=0
for i in a_lower:
    if i in vowels:
     count = count + 1
print("answeris:" ,count)

Enter a string: hello pwskills

answeris: 3

5. print a pattern using nested loops

In [20]:
for a in range(5,0,-1):
    for b in range(1, a+1):
        print("*", end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

6.Generate a multiplication table using nested loops.

In [4]:
for i in range (1,6):
    for j in range(1,11):
        product = i * j
        print(f" {i} * {j} = {product}")
    print()
    print()

 1 * 1 = 1
 1 * 2 = 2
 1 * 3 = 3
 1 * 4 = 4
 1 * 5 = 5
 1 * 6 = 6
 1 * 7 = 7
 1 * 8 = 8
 1 * 9 = 9
 1 * 10 = 10


 2 * 1 = 2
 2 * 2 = 4
 2 * 3 = 6
 2 * 4 = 8
 2 * 5 = 10
 2 * 6 = 12
 2 * 7 = 14
 2 * 8 = 16
 2 * 9 = 18
 2 * 10 = 20


 3 * 1 = 3
 3 * 2 = 6
 3 * 3 = 9
 3 * 4 = 12
 3 * 5 = 15
 3 * 6 = 18
 3 * 7 = 21
 3 * 8 = 24
 3 * 9 = 27
 3 * 10 = 30


 4 * 1 = 4
 4 * 2 = 8
 4 * 3 = 12
 4 * 4 = 16
 4 * 5 = 20
 4 * 6 = 24
 4 * 7 = 28
 4 * 8 = 32
 4 * 9 = 36
 4 * 10 = 40


 5 * 1 = 5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 5 * 8 = 40
 5 * 9 = 45
 5 * 10 = 50